name: branch-build

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: temurin
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

    - name: Build
      run: ./gradlew build --stacktrace --scan

    - name: Upload test results
      uses: actions/upload-artifact@v5
      if: failure()
      with:
        name: Test results
        path: "**/build/reports/tests/"

    - name: Upload code coverage report to coveralls
      env:
        COVERALLS_REPO_TOKEN: ${{secrets.COVERALLS_REPO_TOKEN}}
      run: ./gradlew codeCoverageReport coveralls --no-configuration-cache
