name: build
concurrency: release

on:
  push:
    branches: ["master"]

permissions:
  contents: write

env:
  SERVICE_NAME: account

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: temurin
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
        # TODO: create a separate job that would submit the dependency graph. Having this here prevents config cache reuse in branch builds.
        dependency-graph: generate-and-submit
    - name: Build
      run: ./gradlew build --stacktrace --scan
      env:
        DEPENDENCY_GRAPH_INCLUDE_CONFIGURATIONS: runtimeClasspath
    - name: Generate code coverage reports
      run: ./gradlew codeCoverageReport
      env:
        DEPENDENCY_GRAPH_INCLUDE_CONFIGURATIONS: false
    - name: Upload code coverate reports
      uses: qltysh/qlty-action/coverage@v2
      env:
        JACOCO_SOURCE_PATH: account-service/src/main/java eventstore/src/main/java
      with:
        token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
        files: account-service/build/reports/jacoco/test/jacocoTestReport.xml eventstore/build/reports/jacoco/test/jacocoTestReport.xml

# TODO: below need refactoring to not use ::set-output
    - name: Prepare Release
      id: release_config
      run: |
        git fetch --unshallow
        echo "::set-output name=version::$(infrastructure/next-version.sh)"
        changes="$(infrastructure/changes-since-last-release.sh)"
        echo $changes
        changes="${changes//'%'/'%25'}"
        changes="${changes//$'\n'/'%0A'}"
        changes="${changes//$'\r'/'%0D'}"
        echo $changes
        echo "::set-output name=changes::$changes"
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.release_config.outputs.version }}
        release_name: ${{ steps.release_config.outputs.version }}
        body: |
          ${{ steps.release_config.outputs.changes }}
        draft: false
    - name: Publish
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
        VERSION: ${{ steps.release_config.outputs.version }}
      run: |
        docker tag ${SERVICE_NAME}:snapshot $DOCKER_USER/$SERVICE_NAME:$VERSION
        docker tag ${SERVICE_NAME}:snapshot $DOCKER_USER/$SERVICE_NAME
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        docker push $DOCKER_USER/$SERVICE_NAME:$VERSION
        docker push $DOCKER_USER/$SERVICE_NAME
